.field{
  height: 25%;
  width: 25%;
  float: right; 
}

.playField{
  text-align: center;
  height: 60%;
  width: 60%;
  background-color: powderblue;
}

.app{
 text-align: center;
}

.hl{
 text-align: center;
}

.bline{
 text-align: center;
 float: left;
}